@import url('https://fonts.googleapis.com/css?family=Elsie');
@import url('https://fonts.googleapis.com/css?family=Clicker+Script');

/* This 
is 
a comment! */

/* CSS syntax:

selector {
  property: value;
  property: value
}

*/

p { font-size: 1em; line-height: 1.5em;}

/* the above will get the paragraphs formatted nicely and the line height as well*/

figcaption { font-weight: normal;
            font-size: 0.75em;
            font-family: 'Clicker Script', cursive;}
            
/* Class selector*/

.milk-text { font: bold 2.6em 'Elsie Swash Caps', cursive;}

/* Descendent selector*/

#logo h1 {font-family: cursive;}

/* Pseudo selector*/

#details a:link, #details a:visted {color: black; text-decoration: none;}
/* The above is making links within the <a> tag look the same pre and post visit.. example of editing multiple selectors at once.
In the example they changed the hover to underline*/
